body {
  color: #2c3e50;
  background: white;
  padding: 10px;
}

h1{
  text-align:center;
}
h4{
  color:#c0c0c0;
}
input {
  position: absolute;
  opacity: 0;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1em;
  background: #2222ac;
  font-weight: bold;
  cursor: pointer;
}

.label:hover {
  background: #8080ff;
}
.label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: #c0c0c0;
  -webkit-transition: all .35s;
  transition: all .35s;
}

input:checked + .label {
  background: #8080ff;
}
input:checked + .label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .content {
  max-height: 100vh;
  padding: 1em;
}
